<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450350240893-mnvp4sb7kr098ns8nirgn6g9k2vr76sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450350240893-mnvp4sb7kr098ns8nirgn6g9k2vr76sk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfFoc0c19nTuEi4EpoNVANY3KCywo1SC0</string>
	<key>GCM_SENDER_ID</key>
	<string>450350240893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-firebase-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-firebase-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450350240893:ios:a6433fc60fcf513d42cd14</string>
</dict>
</plist>